:root {
  ////
  /// COLORS
  ///
  --blue-900: #13183f;
  --blue-600: #666ca3;
  --pink-600: #f74780;
  --pink-300: #ffa7c3;
  --grey: #83869a;
  --white: #ffffff;
  --gradient-pink: linear-gradient(to bottom, #f02aa6, #ff6f48);
  --gradient-purple: linear-gradient(to bottom, #4851ff, #f02aa6);

  --gradient-pink-light: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    var(--gradient-pink);
  --gradient-purple-light: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    var(--gradient-purple);
}
