@use "../base/variables" as *;
@use "../base/mixins" as *;

.btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 150%;
  font-weight: 600;
  color: var(--white);

  outline: none;
  border: none;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
  display: inline-block;
  transition: all 1s;

  &--black {
    background-color: var(--blue-900);

    &:hover {
      background-color: var(--blue-600);
    }
  }

  &--orange {
    position: relative;
    background: var(--gradient-pink);
    z-index: 0;

    &::before {
      @include position(var(--gradient-pink-light));
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &--purple {
    position: relative;
    background: var(--gradient-purple);
    z-index: 0;

    &::before {
      @include position(var(--gradient-pink-light));
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &--inline {
    padding: 0;
    background: none;
    color: var(--pink-600);
    transition: all 1s;
    &:hover {
      color: var(--pink-300);
    }
  }
}
@media (max-width: $bp-600) {
  .btn {
    transform: scale(0.75);
  }
}
