@use "../base/variables" as *;

.btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 150%;
  font-weight: 600;
  color: var(--white);

  outline: none;
  border: none;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
  display: inline-block;

  &--black {
    background-color: var(--blue-900);

    &:hover {
      background-color: var(--blue-600);
    }
  }

  &--orange {
    background: var(--gradient-pink);
    &:hover {
      background: var(--gradient-pink-light);
    }
  }

  &--purple {
    background: var(--gradient-purple);

    &:hover {
      background: var(--gradient-pink-light);
    }
  }

  &--inline {
    padding: 0;
    background: none;

    color: var(--pink-600);

    &:hover {
      color: var(--pink-300);
    }
  }
}
@media (max-width: $bp-600) {
  .btn {
    transform: scale(0.8);
  }
}
