@use "../base/mixins" as *;
@use "../base/variables" as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-900);
  padding: var(--300) var(--1000);
}

@media (max-width: $bp-600) {
  .footer {
    padding: var(--300) var(--250);

    &__logo {
      max-width: 35vw;
    }
  }
}
