*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

:root {
  --blue-900: #13183f;
  --blue-600: #666ca3;
  --pink-600: #f74780;
  --pink-300: #ffa7c3;
  --grey: #83869a;
  --white: #ffffff;
  --gradient-pink: linear-gradient(to bottom, #ff6f48, #f02aa6);
  --gradient-purple: linear-gradient(to bottom, #4851ff, #f02aa6);
  --gradient-pink-light: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    var(--gradient-pink);
  --gradient-purple-light: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    var(--gradient-purple);
  --100: 0.8rem;
  --150: 1.2rem;
  --200: 1.6rem;
  --250: 2rem;
  --300: 2.4rem;
  --400: 3.2rem;
  --500: 4rem;
  --550: 4.4rem;
  --600: 4.8rem;
  --700: 5.6rem;
  --800: 6.4rem;
  --1000: 8rem;
  --1600: 12.8rem;
  --1800: 14.4rem;
}

html {
  font-size: 62.5%;
}

.container {
  position: relative;
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(to bottom, #ffffff, #f0f1ff);
}

.wrapper {
  margin: 0 auto;
  max-width: 112rem;
  padding: 0 var(--300);
}

@media (max-width: 37.5em) {
  html {
    font-size: 55%;
  }
  .wrapper {
    padding: 0 var(--250);
  }
}
h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 5.6rem;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 900;
}

h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 4rem;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 900;
}

h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 900;
}

h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 900;
}

p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 150%;
  font-weight: 400;
}

.p-18-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 150%;
  font-weight: 600;
}

.p-16-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 150%;
  font-weight: 600;
}

.btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 150%;
  font-weight: 600;
  color: var(--white);
  outline: none;
  border: none;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
  display: inline-block;
  transition: all 1s;
}
.btn--black {
  background-color: var(--blue-900);
}
.btn--black:hover {
  background-color: var(--blue-600);
}
.btn--orange {
  position: relative;
  background: var(--gradient-pink);
  z-index: 0;
}
.btn--orange::before {
  content: "";
  background: var(--gradient-pink-light);
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.btn--orange:hover::before {
  opacity: 1;
}
.btn--purple {
  position: relative;
  background: var(--gradient-purple);
  z-index: 0;
}
.btn--purple::before {
  content: "";
  background: var(--gradient-pink-light);
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.btn--purple:hover::before {
  opacity: 1;
}
.btn--inline {
  padding: 0;
  background: none;
  color: var(--pink-600);
  transition: all 1s;
}
.btn--inline:hover {
  color: var(--pink-300);
}

@media (max-width: 37.5em) {
  .btn {
    transform: scale(0.75);
  }
}
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--300) 0;
}

@media (max-width: 37.5em) {
  .header__logo {
    max-width: 35vw;
  }
}
.hero {
  display: grid;
  grid-template-columns: 1fr 45%;
  column-gap: var(--400);
  align-items: center;
  margin: var(--800) 0;
  margin-bottom: -10rem;
}
.hero__content {
  margin-top: -15rem;
}
.hero__content-heading {
  grid-column: 1/2;
  margin-bottom: var(--300);
}
.hero__content-description {
  grid-column: 1/2;
  margin-bottom: var(--500);
}
.hero__content-btn {
  grid-column: 1/2;
}
.hero__img {
  height: 100%;
  width: auto;
  overflow: visible;
  grid-column: 2/-1;
  transform: translate(-5%, -13%);
}

@media (max-width: 75em) {
  .hero {
    grid-template-columns: 1fr 40%;
    margin-bottom: 0rem;
  }
  .hero__content {
    margin-top: -10rem;
  }
  .hero__img {
    margin-left: -20%;
    height: 100%;
    transform: translate(15%, -10%);
  }
}
@media (max-width: 62.5em) {
  .hero__img {
    height: 100%;
    transform: translate(5%, -7%);
  }
}
@media (max-width: 50em) {
  .hero {
    margin-bottom: 10rem;
  }
  .hero__content {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Or start/end based on your design */
    height: 100%;
  }
  .hero__content-btn {
    align-self: self-start;
  }
  .hero__img {
    width: 50vw;
    height: auto;
    margin-left: -8%;
    transform: translate(0, 0);
  }
}
@media (max-width: 37.5em) {
  .hero {
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr;
    align-content: center;
  }
  .hero__content-btn {
    align-self: start;
  }
  .hero__img {
    margin-left: -2%;
    grid-column: auto;
    width: 100vw;
  }
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-flow: dense;
  column-gap: var(--400);
  row-gap: var(--700);
  justify-items: center;
  padding-bottom: var(--1000);
}
.content__card {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  padding: var(--800) var(--400) var(--500) var(--400);
  border-radius: 1.5rem;
  box-shadow: 0 2.5rem 5rem rgba(6, 22, 141, 0.042);
}
.content__card-icon {
  position: absolute;
  top: 0;
  left: 5%;
  transform: translateY(-50%);
}
.content__card--white {
  background-color: var(--white);
  position: relative;
}
.content__card--white > p {
  color: var(--grey);
  padding: var(--300) 0;
}
.content__card--orange {
  background: var(--gradient-pink);
  position: relative;
}
.content__card--orange > h3 {
  color: var(--white);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue-900);
  padding: var(--300) var(--1000);
}

@media (max-width: 37.5em) {
  .footer {
    padding: var(--300) var(--250);
  }
  .footer__logo {
    max-width: 35vw;
  }
}

/*# sourceMappingURL=style.css.map */
